body {
    background: #f5f7fa;
}
:root {
    --roxo: #8F39F2;
    --roxo-escuro: #742EC2;
}
.login-card {
    max-width: 450px;
    margin: auto;
    margin-top: 6%;
    padding: 30px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.btn-primary {
    background-color: var(--roxo) !important;
    border-color: var(--roxo) !important;
}
.btn-primary:hover {
    background-color: var(--roxo-escuro) !important;
    border-color: var(--roxo-escuro) !important;
}