<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/stylesCadastro.css">

</head>
<body>

    <div class="login-card">
        <h3 class="text-center mb-4">Criar Conta</h3>

        <p id="resposta" style="color: green;"></p>

        <form id="form-cadastro">
            <!-- Nome -->
            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input name="nome" type="text" class="form-control" placeholder="Digite seu nome">
            </div>


            <!-- Senha -->
            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input name="senha" type="password" class="form-control" placeholder="Digite sua senha">
            </div>

            <!-- Botão cadastrar -->
            <button type="submit" class="btn btn-primary w-100 mb-3"><a href="home.html">Cadastrar</a></button>

            <hr class="my-4">

            <p class="text-center mb-3">Ou continue com</p>

            <!-- Botões sociais -->
            <button type="button" class="btn-social google-btn">
                <img src="https://www.svgrepo.com/show/475656/google-color.svg" width="20">
                Entrar com Google
            </button>

            <button type="button" class="btn-social facebook-btn">
                <img src="https://www.svgrepo.com/show/448224/facebook.svg" width="20" style="filter: invert(1);">
                Entrar com Facebook
            </button>

            <button type="button" class="btn-social apple-btn">
                <img src="https://www.svgrepo.com/show/303128/apple-logo.svg" width="20" style="filter: invert(1);">
                Entrar com Apple
            </button>

            <div class="text-center mt-3">
                <a href="login.html">Já tenho conta</a>
            </div>
        </form>
    </div>

    <footer class="text-center mt-4 text-muted">
        © 2025 - Capelas | nenhum direito reservado
    </footer>

    <script src="scripts/cadastro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- hfhfh -->
</body>
</html>
