<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento - EventoX</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>EventoX</h1>
        <nav>
            <a href="home.html">Início</a>
            <a href="perfil.html">Meu Perfil</a>
            <a href="evento.html">Eventos</a>
            <a href="index.html">Sair</a>
        </nav>
    </header>

    <main>
        <section class="evento-detalhe">
            <h2>Introdução - Inteligência Artificial</h2>
            <p><strong>Data:</strong> 10/11/2025</p>
            <p><strong>Local:</strong> IFPI Campus Pedro II - Auditório</p>
            <p><strong>Descrição:</strong> Evento voltado para a introdução de IA, com palestras e oficinas de especialistas.</p>

            <button>Inscrever-se</button>
        </section>
    </main>

    <footer>
        <p>© capelas eventos nenhum direito reservado.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
