body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgba(36, 14, 65, 1) 0% !important;
    color: #ffffff;
}

.navbar {
    background: rgba(0, 0, 0, 0.3) !important; 
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-link {
    color: #ddd !important;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #fff !important;
}
.evento-detalhe {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  padding: 0px;
  max-width: 700px;
  margin: 0 auto;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.evento-detalhe h2 {
  font-weight: 700;
}

.evento-detalhe p {
  color: #ccc;
  font-size: 1.05rem;
}

.card-atividade {
    background-color: rgba(255, 255, 255, 0.08);;
    color: white;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #333;
    margin: 40px;
}

.evento-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.evento-card:hover {
  transform: none; /* remove o scale daqui */
}

.evento-card:hover .evento-img {
  transform: scale(1.05);
}

.evento-img {

  width: 100%;
  /* height: 160px; */
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}